<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FISUDA" name="round-off-value" version="0.1.1">

    <details>
        <title>roundOff operator</title>
        <homepage>https://github.com/lets-fiware/round-off-value-operator</homepage>
        <authors>Kazuhito Suda &lt;kazuhito@fisuda.jp&gt;</authors>
        <email>kazuhito@fisuda.jp</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>roundOff operator</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>MIT</license>
        <issuetracker>https://github.com/lets-fiware/round-off-value-operator/issues</issuetracker>
    </details>

    <requirements>
        <!-- Add any extra requirements here -->
        <!-- <feature name="${feature-name}" /> -->
    </requirements>

    <preferences>
        <preference name="mode" type="list" label="When invalid value" description="when error occur" default="exception">
          <option label="Throw exception" value="exception"/>
          <option label="Remove value" value="remove"/>
          <option label="Pass through" value="pass"/>
        </preference>
        <preference name="math" type="list" label="Math" description="Math" default="round">
          <option label="no operation" value="none"/>
          <option label="round" value="round"/>
          <option label="floor" value="floor"/>
          <option label="ceil" value="ceil"/>
          <option label="trunc" value="trunc"/>
        </preference>
        <preference name="point" type="list" label="Decimal point" description="after the decimal point" default="integer">
          <option label="integer" value="integer"/>
          <option label="first decimal place" value="first"/>
          <option label="second decimal place" value="second"/>
          <option label="third decimal place" value="third"/>
        </preference>
        <preference name="send_nulls" type="boolean" label="Send Nulls" description="Enable this option to propagate null values, leave it disable to filter null events" default="true" />
    </preferences>

    <wiring>
        <inputendpoint name="input" type="text" label="input" description="input data" />
        <outputendpoint name="output" type="text" label="output" description="output data" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>
</operator>
